body {
    background-color: grey;
    margin: 0;    
}

.index-main {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(0, 0, 0);
    color: rgb(51,255,0,0.7);
    height: 90vh;
    width: 100vw;
    font-family: 'Source Code Pro', monospace;    
}

#blinker {
    color: rgb(255, 255, 255);
    flex-basis: 5%;
}

#index-header {
    flex-basis: 90%;
}

.about-header {
    background-color: rgb(151, 1, 151);
    color: white;
    text-align: center;
    border-radius: 25px;
}

.project-header {
    background-color: rgb(151, 1, 151);
    color: white;
    text-align: center;
    border-radius: 25px;
}

nav {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.nav-button {
    font-family: 'Source Code Pro', monospace;
    font-weight: 600;
    background-color: rgb(51,255,0);
    color: rgb(0,0,0);
    padding: 20px 50px;
    flex: 1;
    font-size: 25px;
    transition-duration: 0.6s;
    border: 2px solid rgba(7, 99, 44, 0.719);    
}

.nav-button:hover {
    background-color: rgb(255, 255, 102); 
    border: 2px solid rgba(138, 138, 16, 0.842);
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.24);
    cursor: pointer;
  }

.projects-grid {
    display: grid;
    grid-template: 2 / 3;
    grid-gap: 10px 50px;
    margin: 10px 0px 10px 0px;
}

footer {
    font-family: 'Source Code Pro', monospace;
    font-size: 30px;
    color: rgb(255, 255, 255);
    background-color: cornflowerblue;
    text-align: center;
    height: 10vh;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    background-color: purple;
    color: white;
  }
  
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
  
.container {
    padding: 2px 16px;
}

#item1 {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
}

#item2 {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
}

#item3 {
    grid-row: 1 / 2;
    grid-column: 3 / 4;
}

