* {
    font-family: 'Source Code Pro', monospace;
}

body {
    background-color: rgb(0, 0, 0);
    margin: 80px 0 0 0;
}

nav {
    margin-left: 0px;
    position: fixed;
    text-align: center;
    display: flex;
    width: 100vw;
    height: 73px;
    top: 0;
    z-index: 10;
}

.nav-button {
    font-weight: 600;
    background-color: rgb(51,255,0);
    color: rgb(0,0,0);
    padding: 20px 50px;
    flex: 1;
    font-size: 30px;
    transition-duration: 0.6s;
    border: 2px solid rgba(7, 99, 44, 0.719);    
}

.nav-button:hover {
    background-color: rgb(255, 255, 102); 
    border: 2px solid rgba(138, 138, 16, 0.842);
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.24);
    cursor: pointer;
  }

.index-main {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
    color: rgb(51,255,0,0.7);
    height: 100vh;
    width: 100vw;
    font-size: 23px;
}

footer {
    font-size: 30px;
    color: rgb(0, 0, 0);
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;    
    height: 8vh;
    width: 100vw;
}

footer img {
    height: 5.5vh;
    width: 2.5vw;
    position: relative;
}

footer img:hover {
    border: 5px solid gold;
    transition-duration: 0.5s;
}

footer img:not(:hover) {
    border: 5px solid white;
    transition-duration: 0.5s;
}

#index-text {
    border-right: solid 3px rgba(0,255,0,.75);
    white-space: nowrap;
    overflow: hidden; 
    width: 1400px;
    animation: animated-text 4s steps(52) 1s 1 normal both,
               animated-cursor 1000ms steps(29) infinite;
}

@keyframes animated-text{
    from{width: 0;}
    to{width: 1400px;}
}

@keyframes animated-cursor{
    from{border-right-color: rgba(0,255,0,.75);}
    to{border-right-color: transparent;}
}

#blinker {
    color: rgb(255, 255, 255);
    flex-basis: 5%;  
}

#about-header {
    background-color: rgb(0, 0, 0);
    color: rgb(51,255,0,0.7);
    text-align: center;
}

#about-main {
    background-color: rgb(9, 9, 103);
    color: rgb(255, 255, 255);
    height: 80vh;
    padding: 10px 30px;
} 

#about-image {
    border-radius: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 35vh;
}

#project-header {
    background-color: rgb(0, 0, 0);
    color: rgb(51,255,0,0.7);
    text-align: center;
}

#projects-grid {
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(2, 1fr);
    grid-gap: 10px 50px;
    margin: 10px 0px 10px 0px;
}

.card {
    background-color: rgb(9, 9, 103);
    color: rgb(255, 255, 255);
    margin: 0 10px;
    display: flex;
    align-items: center;
    border: 5px solid blue;    
}
 
.card img {
    height: 75%;
    width: 95%;
    border: 3px solid blue;
    margin: 5px;
}

.container {
    padding: 2px 16px;    
}

.container p {
    font-size: 18px;
}

.container a {
    font-weight: 600;    
    color: white;
}

#item1, #item2 {
    height: 30vh;
}

.project-image:hover {
    border-color: gold;
    transition-duration: 0.3s;
}

.project-repo:hover {
    color: gold;
    transition-duration: 0.3s;
}

.project-collab:hover {
    color: gold;
    transition-duration: 0.3s;
}